.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3vw;
}

.card {
    text-underline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 25%;
    color: var(--color-dark);
    font-size: max(1.2rem, 3.5vw);
    --font-weight: 700;
    font-variation-settings:
            "wght" var(--font-weight),
            "CONT" var(--font-cont),
            "MIDL" var(--font-midl);
    border: 1px solid var(--color-light);
    padding: .5rem 1.5rem 1.5rem;

    background: linear-gradient(51deg, rgba(173,239,255,1) 0%, rgba(175,255,245,1) 64%, rgba(255,201,154,1) 100%);
    cursor: pointer;
}

.card:hover {
    --font-weight: 1000;
    --font-midl: -1000;
}

.card:nth-of-type(2n) {
    color: var(--color-light);
    background: linear-gradient(51deg, rgba(255,173,223,1) 0%, rgba(255,175,175,1) 64%, rgba(245,255,154,1) 100%);
}

.card:hover>span {
    padding-left: 5%;
}

.card:hover>span:nth-child(2n) {
    padding-left: 10%;
}

.card:hover>span:nth-child(3n) {
    padding-left: 12%;
}

.card>span {
    opacity: 25%;
    transition: all .3s ease;
}
.card>span:nth-child(2n) {
    opacity: 50%;
}
.card>span:nth-child(3n) {
    opacity: 100%;
}
